.cart-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  margin: 0 10%;
  margin-top: 3%;
}

.cart {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 85%;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.2s ease-in-out;
}

.cart:hover {
  transition: 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cart-flex {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}

.cart img {
  width: 50%;
  height: 300px;
  border-radius: 5px;
  margin-left: 1%;
  user-select: none;
  object-fit: contain;
}

.buy-button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 5px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 10px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 90px;
  will-change: transform;
  padding: 5px;
}

.buy-button:disabled {
  pointer-events: none;
}

.buy-button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.buy-button:active {
  box-shadow: none;
  transform: translateY(0);
}